.ui-menu .ui-menu-item-wrapper {
    padding: 5px 0px;
}
.ui-menu-item {
    padding: 0px !important;
    border-bottom: 1px solid;
    font-size: 14px;
}
.ui-menu .ui-menu-item-wrapper{
    padding: 0px !important;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active .user-detail-info {
    /*background: #000;*/
    color: #fff;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active .user-detail-info strong.text-company-name {
    color: red;
    font-size: 16px;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active .user-detail-info em.text-user-name {
    color: green;
}
.user-detail-info {
    display: inline-flex;
    padding: 5px 0px;
    width: 100%;
}
.user-image-info {
    padding: 5px 10px;
}
.user-image-info img{
    padding: 5px 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}
.user-info {
    padding: 0px 5px;
    align-self: center;
}
